<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://ncrmxc.cj-pension.com.cn/app_update/cjyl/product/ios/cjylcrm.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://ncrmxc.cj-pension.com.cn/app_update/cjyl/product/downloadPic.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://ncrmxc.cj-pension.com.cn/app_update/cjyl/product/Logo_A.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.cpic.cjcrm</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>by AssetsDepartment</string>
                <key>title</key>
                <string>长江养老</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
